/* Lincoln's Revenge */
/*<group=Structural>*/
html, body
	{
	margin				: 0px;
	padding				: 0px;
	background-color	     : #fff;
	color				: #000;
	background-image	     : url(bg_head.gif);
	}
/* bizarrely IE6 seems to want to shift to the right by 3px
Could hack to shift everything else back but it looks ok */
body
	{
	margin				: 0;
	}
* html>body
	{
	margin-right		     : -3px; /* margin - 3px for IE */
	}

div
	{
	border				: 0;
	margin				: 0px;
	padding				: 0px;
	}

#wrapper1, #wrapper2
	{
	margin				: 0px;
	padding				: 0px;
	}

/* NN4 makes a mess of the backgrounds (positioning plus unintended inheritance) so exclude it. OmniWeb doesn't understand background positioning either - the left column can be achieved, but not the right one */
#wrapper1
	{
	/*/*/
/*	background-image	: url(bg_right.png); 
	background-position	: right top;
	background-repeat	: repeat-y;*/
	/* */
	}
#wrapper2
	{
	/*/*/
/*	background-image	: url(bg_left.png);
	background-repeat	: repeat-y;*/
	/* */
	}

.header
	{
	margin				: 0px;
	padding				: 0px;
	color				: #000;
	background-color	     : none;
	border				: 0;
	}
/* IE5 needs shifting up - and #empty to clear its parsing palette */
* html body .header
	{
	margin-bottom		     : -19px;
	font-family			: "\"}\"";
	font-family			: inherit;
	margin-bottom		     : 0px;
	}
#empty{}

/* -1px margin-top is so NN4 borders overlap */
.columns
	{
	margin				: 0px;
	margin-top			: -1px;
	padding				: 0px;
	border				: solid 1px #000;
	color				: #000;
	background-color	: #fff;
	}
/* reset post NN4 */
.columns
	{
/*/*/
	border				: none;
	margin-top			: 0px;
	background-color	     : transparent;
	background: url(bg_sidebar_bottom.png) top repeat-x;
/* */
	}

/*
make sure that .leftcolumn's width is equal to .centercolumn's margin-left
-11px margin-top enables columns to lign up in NN4 rather than dropping down unacceptably
*/
.leftcolumn
	{
	float				: left;
	left				     : 0px;
	width				: 170px;
	margin				: 0px;
	margin-top			: -11px;
	padding				: 0px;
	}
/* reset post NN4 */
.leftcolumn
	{
/*/*/
	margin-top			: 0px;
/* */
	}

/*
make sure that .rightcolumn's width is equal to .centercolumn's margin-right
*/
.rightcolumn
	{
	position			: static;
	float				: right;
	width				: 260px;
	margin				: 0px;
	padding				: 0px;
	}


/* .centercolumn base settings
====================================
These values allow the three columns to butt up against each other
You can change the margins between them either by altering these values. However, in most cases altering the padding property of the .[$column]padding selectors will be simpler and more effective.
------------------------------------
NN4
------------------------------------
margin-left		: -25px
margin-right	: 0px
margin-top		: -1px
If you must change these, experiment with these values extensively since the center column does not move in a direct one-to-one relationship to the value specified here. The margin-top of -1px is needed to make NN4 line up correctly.
------------------------------------
OmniWeb
------------------------------------
margin-left		: 0px;
margin-right	: 0px;
------------------------------------
Other browsers
------------------------------------
margin-left		: width of .leftcolumn
margin-left		: final width of .rightcolumn
margin-right is set to the value of the overriding values for .rightcolumn's width.
*/
.centercolumn
	{
	margin				: 0px;
	padding				: 0px;
	}
/* OmniWeb value - others in external css file */

/* no they're not - they're here for ease of viewing for the moment */
/* NN4 values */
.centercolumn
	{
	margin-right		     : 0px;
	margin-left			: -25px;
	}
/* Other browsers */
/*/*/
.centercolumn
	{
	margin-right		     : 260px;
	margin-left			: 170px;
	}
/* */

/* OmniWeb (exclude from IE5 mac) */
/*\*/
.fake.centercolumn
	{
	margin-right		     : 0px;
	margin-left			: 0px;
	}
/* reset IE*/
* html body .centercolumn
	{
	margin-right		     : 260px;
	margin-left			: 170px;
	}


/* -7px margin-top enables footer/middles to lign up in NN4 rather than dropping down unacceptably */
.footer, .middle
	{
	clear				: both;
	margin				: 0px;
	margin-top			: -7px;
	padding				: 6px;
	text-align			: center;
	color				: #ddd;
	background-color	     : transparent;
	border				: 0;
	}
/* reset post NN4 */
.footer, .middle
	{
/*/*/
	margin-top			: 0px;
/* */
	}

.headerpadding, .centerpadding,
	{
	margin				: 0px;
	padding				: 0px;
	}
 .leftpadding, .rightpadding
	{
	margin				: 0px;
	padding				: 0px;
	}
.centerpadding
    {
    padding-left			: 10px;
    }

.leftpadding 
    {
    padding-left			: 10px;
    padding-right			: 20px;
    }
.rightpadding
    {
    padding-left			: 10px;
    padding-right			: 10px;
    }


     /*</group>*/
/*<group=Utility>*/

br.clear {
	clear: both;
	}
.clearing {
	height: 0;
	clear: both;
	display: none;
	}       
     /*</group>*/       
     