/* SpreadFirefox */

/*<group=Event Calendar & Archive Calendar>*/

/* Mini-Calendar Formatting */
.sidebar .event-calendar th.heading, .sidebar .event-calendar th, .sidebar .calendar th, .sidebar .calendar .header-month {
     font-size: 1.0em;
     }
.sidebar .event-calendar th, .sidebar .calendar th, .sidebar .event-calendar td, .sidebar .calendar td, #event .event-calendar .event .teaser {
     font-size: 0.9em;
     }
.sidebar .event-calendar table, .sidebar .calendar table {
     border: 1px solid #BDCEE1;
     border-collapse: collapse;
     border-spacing: 0;
     background-color: #BDCEE1;
     width: 100%;
     margin-bottom: 6px;
     }
.sidebar .event-calendar tr, .sidebar .calendar tr {
     padding: 0;
     margin: 0;
     background: transparent;
     }
.sidebar .event-calendar th, .sidebar .calendar th, .sidebar .calendar td.header-month {
     background-color: transparent;
     background: url(images/calendar_sq_bg.gif) top left no-repeat;
     text-align: center;
     border: 1px solid #BDCEE1;
     color: #C30;
     padding: 4px 2px;
     }
.sidebar .event-calendar th.heading, .sidebar .event-calendar th.prev, .sidebar .event-calendar th.next, .sidebar .calendar th.header-month, .sidebar .calendar td.header-month {
     border-width: 1px 0;
     background-image: none;
     background-color: #BDCEE1;
     }
.sidebar .event-calendar th.prev {
     text-align: left;
     }
.sidebar .event-calendar th.next {
     text-align: right;
     }
.sidebar .event-calendar th, .sidebar .calendar .header-month a, .sidebar .calendar .header-month {
     font-weight: bold;
     color: #C30;
     }
.sidebar .event-calendar th a {
     display: block;
     }
.sidebar .calendar .header-month a {
     display: inline;
     }
.sidebar .calendar .header-week td {
	border: none;
     padding: 4px;
	}
.sidebar .event-calendar td, .sidebar .calendar .row-week td {
     border: 1px solid #BDCEE1;
     color: #727664;
     text-align: center;
     vertical-align: middle;
     margin: 0;
     padding: 6px 2px;
     background: url(images/calendar_sq_bg.gif) top left no-repeat;
     }
.sidebar .calendar td div {
     margin: 0;
     padding: 0;
     }
.sidebar .calendar .row-week td.day-selected {
     background-color: transparent;
     background: url(images/calendar_sq_selected.gif) top left repeat;     }
.sidebar .calendar .row-week td.day-blank {
     background-color: transparent;
     background-image: none;
     }
.sidebar .event-calendar td a, .sidebar .calendar .row-week td a {
     font-weight: bold;
     text-decoration: none;
     display: block;
     margin: 0;
     padding: 0;
     }
.sidebar .event-calendar td a:hover, .sidebar .calendar .row-week td a:hover { 
     color: #c30;
     background-color: transparent;
     text-decoration: underline; 
     }
.sidebar .event-calendar td.sat, .sidebar .event-calendar td.sun {
     background: url(images/calendar_sq_weekend.gif) top left no-repeat;     }
.sidebar .event-calendar td.today, .sidebar .calendar td.day-today {
     color: #fff;
     background: #c30 url(images/calendar_sq_today_corner.gif) bottom right no-repeat;     }
.sidebar .event-calendar td.today a, .sidebar .calendar td.day-today a {
     color: #fff;
     text-decoration: none;
     display: block;
     }
.sidebar .event-calendar td.today a:hover, .sidebar .calendar td.day-today a:hover {
     color: #fff;
     background-color: transparent;
     text-decoration: underline;     
     }
.sidebar .event-calendar td.selected, .sidebar .calendar .day-selected {
     background: url(images/calendar_sq_selected.gif) top left repeat;
     }
.sidebar .event-calendar td.days, calendar td.day-normal, .sidebar .calendar .header-week {
     color: #798786;
     font-weight: normal;
     background: #fff;
     text-align: center;
     padding: 4px 2px;
     }
.sidebar .event-calendar div.event {
     text-align: left;
     margin: 0.25em 0 1em 0.25em;
     }
.sidebar .event-calendar td.days, .sidebar .calendar td.header-month {
     border: none;
     }
.sidebar .event-calendar div.day {
     float: right;
     text-align: center;
     padding: 0.125em 0.25em 0 0.25em;
     margin: 0;
     border: none;
     background: #f3f3f3;
     }
.sidebar .event-calendar div.event span {
     display: block;
     color: #000;
     padding: 0;
     margin: 0;
     }
.sidebar .event-calendar div.event span.title a {
     font-weight: normal;
     font-size: 0.9em;
     color: #000;
     }
.sidebar .event-calendar div.event span.time {
     font-weight: bold;
     }
.sidebar .event-calendar div.event span.location {
     font-style: italic;
     color: #555;
     }
.time {
     padding: 20px;
     }

/* Event Detail Page */
#event .event-calendar {
     border: 1px solid #BDCEE1;
     margin-bottom: 6px;
	}
#event .event-calendar table {
     background-color: #BDCEE1;
     width: 100%;
     padding: 0 1px 1px 0;
     border-collapse: collapse;
     }
#event .event-calendar th {
     text-align: center;
     border: 1px solid #BDCEE1;
     color: #C30;
     padding: 4px 2px;
     border-width: 1px 0;
     background-image: none;
     background-color: #BDCEE1;
	}
#event .event-calendar th.prev {
	text-align: left;
	padding-left: 4px;
	}
#event .event-calendar th.next {
	text-align: right;
	padding-right: 4px;
	}
#event .event-calendar th a {
     color: #C30;
     }
#event .event-calendar th a:hover {
     color: #C30;
     text-decoration: underline;
     }
#event .event-calendar td {
     width: 14.3%;
     border: 0;
     color: #727664;
     text-align: left;
     vertical-align: top;
     margin: 0;
     padding: 0;
     }
#event .event-calendar td.mon, #event .event-calendar td.tue, #event .event-calendar td.wed, #event .event-calendar td.thu, #event .event-calendar td.fri {
     border: 1px solid #BDCEE1;
     background: url(images/calendar_sq_bg.gif) top left no-repeat;
	}
#event .event-calendar td.days {
	border: 0;     
     }
#event .event-calendar td.sat, #event .event-calendar td.sun {
	border: 0;
     border-bottom: 1px solid #BDCEE1;
     border-top: 1px solid #BDCEE1;
     background: url(images/calendar_sq_weekend.gif) top left no-repeat;     }
#event .event-calendar td.sun {
     border-right: 0;
     }
#event .event-calendar td.sat {
     border-left: 0;
     }
#event .event-calendar td.lastweek {
     border-bottom: 0;
     }
#event .event-calendar td.today a {
	color: #065285;
     text-decoration: underline;
	}
#event .event-calendar td.today a:hover {
	color: #C20508;
	text-decoration: underline;
	}
#event .event-calendar td.today {
     color: #c30;
     font-weight: bold;
     }
#event .event-calendar td.today .day {
     color: #fff;
     font-weight: bold;
  	 background: #c30 url(images/calendar_sq_today_corner.gif) bottom right no-repeat;     }
#event .event-calendar .days {
     background-image: none;
     background-color: #fff;
	padding: 4px 2px;
	border: none;
	text-align: center;
	}
#event .event-calendar .day {
    padding: 4px 4px 6px 6px;
    margin: 0 0 4px 2px;
    }
#event .event-calendar .event {
    margin: 4px;
    }
#event .event-calendar .event-empty {
    min-height: 6em;
    padding: 0;
    margin: 0;
    }
/* Event Formatting */

.event .details {
     padding: 0;
     }
.event .content:before {
     content: "Event details: ";
     display: block;
     }
.event .content:before, .event label {
     font-size: 0.9em;
     color: #004D81;
     }
.node .event .content {
	border-left: 1.0em solid #CFE4F3;
	margin: 0 1.0em 2.0em 1.0em;
	padding-left: 1.5em;
	border-top: none;
	margin: 0;
	}
.event .details .form-item, .node .event .details .form-item .title {
     color: #c60;
     }
.event .details .form-item .title {
     display: inline;
     padding-right: 0.2em;
     }
       
     /*</group>*/

/*<group=Poll>*/

/*** POLL ***/

#content .poll {
	margin: 0.5em;
	padding: 0.5em;
	border: #ccc solid 1px;
	}

#sidebar .poll { }

.poll-title {
	font-weight: bold;
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc solid 1px;
	}

.poll .text {
	margin-bottom: 0.3em;
	font-size: 0.8em;
	font-weight: bold;
	}

.poll .percent {
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc dashed 1px;
	font-size: 0.8em;
	}

.poll .total { font-size: 0.8em; }
.poll .bar { }

.poll .bar .foreground {
	height: 5px;
	background-color: #aaa;
	border: #ccc solid 1px;
	}

.poll .bar .background { }
.poll .vote-form { font-size: 0.8em; }
       
     /*</group>*/

/*<group=Book>*/

/*** BOOK STYLE ***/

.book .title {
	font-weight: bold;
	font-size: 1em;
	margin-bottom:1em;
	}
       
     /*</group>*/

/*<group=Forum>*/

/*** FORUM STYLE ***/
div#forum table {
	width: 100%;
	margin-bottom: 1em;
	}

#forum td {
	padding: 0.5em 0.5em 0.5em 0.5em;
	line-height: 1.2em;
	}

#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
	}

#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
	white-space: nowrap;
	}

#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
	text-align: center;
	}

div#forum table .topics,
div#forum table .posts,
div#forum table .last-reply {
	font-size: 0.8em;
	width: 5%;
	}

div#forum table .name,
div#forum table .description,
div#forum table .navigation {
	margin: 0;
	}

div#forum table th {
	white-space: nowrap;
	}

div#forum table .name {
	font-size: 1.2em; margin: 0.5em;
	font-weight: bold;
	margin: 0;
	}

#forum .description, #forum .navigation {
	font-size: 0.9em;
	margin: 0.5em;
	}

div#forum table .description {
	margin: 0;
	}

div#forum table .navigation {
	font-weight: bold;
	}

div#forum table .topic {
	width: 80%;
	}

div#forum table .icon {
	width: 20px;
	text-align: center;
	}

div#forum a {
	font-weight: bold;
	}

div#forum table .created,
div#forum table .replies {
	font-size: 0.8em;
	width: 5%;
	}
       
     /*</group>*/
