/* Lincoln's Revenge */
/*<group=HTML>*/

body {
	color: #333;
	font-family: verdana, sans-serif;
	}
p {
	padding: 0;
	margin: 0;
	}
p, .main-content ul li {
	margin-bottom: 0.8em; /* this should match the li margin-bottom */
	} 
hr {
    border: 1px dotted #666;
    height: 1px;
	}
pre {
	background-color: #efefef;
	padding: 0.75em 1.5em;
	border: 1px solid #ddd;
	width: 90%;
	overflow: scroll;
	}
img { 
	border: 0; 
	}
blockquote {
	border: 0 #ddd dashed;
	border-width: 1px 0;
	margin: 0.5em 1.0em;
	padding: 0.3em;
	}

      /*</group>*/

/*<group=Typography>*/

/* Font sizes, font faces, font-style */

body {
	font-size: 76%;       
	}
code {
	font-family: 'andale mono', 'Courier New', Monaco, monospace;
	}
#header, .main-content, #footer {
    font-family: verdana, sans-serif;
	}
h1, h2 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	}
.sidebar h2, h3, h4, h5, h6 {
	font-family: arial, verdana, sans-serif;
	}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.2em 0;
	padding: 0 0 0.1em 0;
	border-bottom: 1px solid #ccc;
	}
h1 {
	line-height: 100%;
	color: #333; 
	margin:0 0 10px 0px; 
	padding:0;
   }
h3 { 
	padding-bottom: 0.2em; 
	margin-bottom: 0; 
	}
h6 { 
	border: 0; 
	}
h1,
h2,
.form-item label,
.main-content .node .links {
	font-weight: normal;
	}
blockquote,
.description,
#help,
.main-content .links .read-more {
	font-style: italic;
	}
h3,
h4,
h5,
h6,
#site-name,
#site-slogan,
.main-content .breadcrumb,
.comment .title,
.comment-folded .subject,
#help:before,
fieldset legend,
input[type="submit"],
.comment .new,
.comment-folded .new,
.sidebar h2 {
    font-weight: bold;     
     }
#site-name {
    font-size: 2.5em;
     }
#content-title,
#title { 
	font-size: 250%; 
	}
h1,
#maintitle,
.main-content h2,
.main-content .box h2,
.main-content .node h2 { 
	font-size: 160%; 
	}
h2,
pre,
#site-slogan,
form #body,
form #signature {
	font-size: 150%;
	}
h3,
.sidebar .block h2,
.item-list .title,
.comment .title,
.comment-folded .subject,
button.form-submit,
form #title,
.main-content form h2,
code,
textarea {
    font-size: 120%;
     }
h4,
h5,
h6,
#search .form-text,
#main-nav a,
fieldset legend,
.form-item label,
.comment select,
#pager,
input {
	font-size: 100%;
	}
#header form label,
#header form input,
#header form #submit,
#breadcrumbs,
.main-content .breadcrumb,
.main-content td,
.main-content th,
#help,
#footer,
.comment .author,
.sidebar .block .content,
.sidebar .block-search .form-submit {
	font-size: 90%;
	}
.main-content .node .info,
.links,
.credit,
.new,
.box select,
.taxonomy {
	font-size: 76%;
	}
      /*</group>*/

/*<group=Header>*/

/* Header */

#header {
     background: #1C371E url(images/bg_head.png) repeat;
     border-bottom: 1px solid #182F1A;
     position: relative;
     min-height: 39px;
     height: 5em;
     padding: 0;
     margin: 0;
     voice-family: "\"}\"";
     voice-family: inherit;
     height: 3em;
     padding: 15px 0;
     } #ignored {}
#header h1 {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     font-size: 2px;
     border: none;
     background: url(images/"bg_header_top_left.gif") no-repeat;
     height: 8px;
     z-index: 100; /* above the UL */
     }
#header h1 a {
     display: block;
     width: 330px;
     height: 65px;
     background: transparent url(images/"logo.png") no-repeat;
     text-indent: -700em;
     text-decoration: none;
     }

/* Search Field */

#header form {
     position: absolute;
     top: 0;
     right: 0;
     padding: 12px 20px 0 0;
     margin: 0; /* need for IE Mac */
     text-align: right; /* need for IE Mac */
     white-space: nowrap; /* for Opera */
     }
#search .form-text {
	margin: 0;
	padding: 2px;
	width: 100px;
	border: 1px solid #1395D2;
	}
#search .form-submit {
     color: #333;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #ddd;
	}
#header form label { 
     color: #fff;
     font-weight: bold;
     }
#header form #submit {
     background: #ddd;
     color: #333;
     padding: 1px 4px;
     border-right: 1px solid #283043;
     border-bottom: 1px solid #283043;
     border-top: 1px solid #9097A2;
     border-left: 1px solid #9097A2;
     }
#header form #keys {
     width: 170px;
     font-size: 85%;
     border:	1px solid #5E663B;
     background: #fff url(images/bg_sidebar_bottom.png) top repeat-x;
     padding: 2px;
     }
#header form #q:hover, #header form #q:focus {
     background: #fff;
     }
#site-name, #site-name a, #header a { 
	color: #fff; 
	text-decoration: none; 
	}
#site-name {
	margin: 1px 1px 1px 1px;
	}
        
      /*</group>*/
/*<group=Navigation>*/

#header ul {
     width: auto;
     position: absolute;
     bottom: 0;
     right: 0;
     margin: 0;
     padding: 0 15px 0 0;
     list-style: none;
     z-index: 90; /* below the H1 */
     }
#header li {
     float: right;
     padding: 0 6px 0 0;
     margin: 0 1px 0 0;
     display: inline;
     white-space: nowrap;
     }
#header ul a {
     float: left;
     display: block;
     padding: 4px 10px;
     font-weight: bold;
     color: #fff;
     text-decoration: none;
     border-bottom: 4px solid transparent; 
     }
* html #header ul a { /* I hate IE hack */
     border-bottom: none;
     }
#header ul li:hover a { 
     border-bottom: 4px solid #fff; 
     }
* html #header ul a { /* I hate IE hack */
     border-bottom: none;
     text-decoration: underline;
     }
#current a {
     color: #C20508;
     text-decoration: underline;
	}
#main-nav a:link, #main-nav a:visited {
	text-decoration: none;
	}
#main-nav a:hover {
	color: #C20508;
	}
#breadcrumbs {
      display: block;
      padding-top: 6px;
      margin: 0;
      margin-bottom: 1.0em;
     }       
#breadcrumbs:before {
      content: "You are here: ";  
     }
.breadcrumb {
	display: inline;       
     }
.taxonomy {
     display: block;
     margin-bottom: 1.0em;
     }
      /*</group>*/
/*<group=Footer>*/

/* Footer */
#footer {
     border-top: 1px solid #333; 
	background: #fff url(images/bg_sidebar_h2.png) top left repeat-x;
     margin: 2em 0;
     padding: 1.0em 0 1.0em 170px;
     text-align: left;
     color: #666;
	}	
#footer span, #footer a {
     white-space: nowrap;
     padding: 0 1em;
	}	
#footer p span, #footer p a {
     white-space: nowrap;
     padding: 0 0.3em;
	}
#footer span a {
     padding: 0;
	}
#footerlogo { 
	float: right; 
	padding-left: 1em; 
	}
#footer ul {
     margin: 0 0 1em 0;
     padding: 0;
     list-style: none;
	}
#footer li {
     display: inline;
     padding: 0 20px 0 0;
     margin: 0;
     white-space: nowrap;
	}	
#footer p {
     margin: 0.6em 0;
	}
#footer p, #footer p a {
     color: #666;
	}
#footer a {
     color: #666;
     text-decoration: underline;  
     }
#footer p a:hover {
     color: #000;
	}
        
      /*</group>*/

/*<group=Main Content>*/

#message {
	padding: 0.5em;
	margin: 1.0em 0;
	background: #CCE9BD url(images/bg_message.png) repeat;
	border: 2px solid #363;
	}
#mission {
     color: #363;
     font-weight: bold;
     padding: 0;
     }

#mission span {
     display: block;
     margin: 0.3em 1.0em;
     }
#content-title, #title {
     padding: 0;
     margin: 0;
     margin-bottom: 10px;
     }
.main-content {
     padding: 0;
     padding-top: 1.0em;
     margin: 0;
     margin-right: 20px;
     line-height: 1.3; /* value other than 'normal' needed for WinIE */
     }
.main-content .node {
     margin: 0;
     margin-bottom: 1.0em;
     }
#content-title, #title, .main-content h2, .main-content h2 a, .main-content h2 a:link, .main-content h2 a:visited {
     color: #000;
     }
.main-content .node h2 {
    margin-top: 0; 
    }     
.main-content h2 a {
	text-decoration: none;
	}
.main-content h2 a:hover { 
	color: #6E7E4A; 
	text-decoration: none;
	}
.main-content table {
     overflow: auto;
     }
.main-content .node .content, .comment .content {
	line-height: 1.5em;
	}
.main-content .node .content {
	padding: 5px 0;
	margin: 0;
	}
.main-content .node .info {
	margin: 0;
	color: #777;
	}
.main-content .node .links, .main-content .comment .links {
	padding: 5px 0;
	margin: 1em 0 1.5em 0;
	border-top: 1px dotted #ddd;
	text-align: right;
	}
.main-content .comment .links {
     margin-bottom: 0;
     }
.main-content .links .read-more {
	background: transparent;
	} 
.main-content .breadcrumb {
	padding: 0px;
	margin: 0 0 10px 4px;
	color: #f60;
	} 
.main-content .breadcrumb a:first-letter {
  	text-transform: uppercase;
	}
/* Box Formatting */
.main-content .box {
     background: #EEEFEA url(images/bg_table_light.png) repeat; 
     border: 1px solid #5E663B;
     padding: 0;
     margin: 0 1.0em 2.0em;
     }
.main-content .box h2 {
	color: #5E663B;
	margin: 0;
	padding: 0.5em;
	background: #fff url(images/bg_sidebar_h2.png) top left repeat-x;
	border-top: 2px solid #6E7E4A;
	border-bottom: 1px dotted #CFD7B3;
	}
.box h2, .box .content {
	padding: 1.0em;
	}
/* Comments & Related Tools */      
.comment {
	padding: 1.0em;
	margin: 0.5em 0;
	}  
.comment-folded {
	padding: 0.5em;
	margin: 0.5em 0;
	}
.comment-folded .new {
	text-align: right;
	float: right;
	color: #fc0;
	}
.comment-new {
	border-left: 1.0em solid #EDF3F9;
	margin: 0 1.0em 2.0em 1.0em;
	padding-left: 1.5em;
	background: #CCE9BD url(images/bg_message.png) repeat;
	}
.comment .title, .comment-folded .subject {
	color: #777;
	}
.comment .new {
	text-align: right;
	float: right;
	color: red;
	}
.comment .author, span.credit {
	color: #999;
	padding-bottom: 1.0em;
	}
.comment .content {
	padding-top: 0.5em;
	margin-left: 1.0em;
	}
.description, #help {
	padding: 0.75em 1.25em;
	margin: 1.0em 0;
	line-height: 1.4em;
	color: #333;
	}
.description {
     border: dotted #999;
     border-width: 1px 0;
     }
.description:before {
     content: "Note: "; 
     color: #5E663B;
	}
#help { 
	border: 2px solid #ffc;
     cursor: help;
     background: url(images/bg_help.png) top left repeat;
     margin-bottom: 1.0em;
     }
#help:before {
     content: "Help: ";
     font-style: normal;
     font-weight: normal;
     }
        
      /*</group>*/

/*<group=Sidebar>*/
.sidebar {
	padding: 0;
	margin: 0;  
    }
.sidebar .block {
	margin: 0;
	padding: 5px 0 10px;
	background: url(images/bg_sidebar_bottom.png) bottom repeat-x;
	}
.sidebar .block h2,.sidebar .block .content {
	border-left: 1px solid #5E663B;
	border-right: 1px solid #5E663B;
	}
.sidebar .block h2, .sidebar .block .title {
	color: #5E663B;
	margin: 0;
	padding: 0.5em 0.75em;
	background: #fff url(images/bg_sidebar_h2.png) top left repeat-x;
	border-top: 2px solid #6E7E4A;
	border-bottom: 1px dotted #CFD7B3;
	}
.sidebar .block .content {
	color: #333;
	margin: 0;
	padding: 0.5em 1.0em;
	background: url(images/bg_sidebar_content.png) top left repeat;
	border-bottom: 1px solid #5E663B;
	}
.sidebar table, .sidebar th, .sidebar td {
	border: 0;
	}
.sidebar .block .content .xml-icon {
	text-align: center;
	padding: 0.25em 0;
	}
.sidebar .block input.form-text {
	width: 120px;
	}
.sidebar .block-search input.form-text {
	width: 100px;
	padding: 1px;
	margin-right: 5px;
	}
.sidebar .block-search button.form-submit { 
	width: 60px;
	}

/* block-contact */	
.block-contact form input[type="submit"] {
     margin-top: 0;
     }

/* user menu block */
.block-user .menu, .block-user ul {
     margin: 0;
     padding: 0;
     list-style: none;
     }
.block-user li, .block-user .item-list, .block-user .leaf, .block-user .collapsed, .block-user .expanded {
     list-style-type: none;
     list-style-image: none;
     }
      /*</group>*/

/*<group=Tables>*/

.main-content table {
	width: 99%; /* needed for IE */
	overflow: scroll;
	border: 1px solid #CFD7B3;
	padding: 0;
	margin: 0;
	margin-bottom: 1.0em;  
	}
td, th, .main-content td {
	border: 1px solid #CFD7B3;
	border-collapse: collapse;
	padding: 2px;
	margin: 0;  
	vertical-align: top;
	}
.main-content th {
	border: 0;
	border-bottom: 1px solid #CFD7B3;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	}
tr.dark {
	background:#e7e7e7 url(images/bg_table_dark.png) top left repeat;
     }
tr.light {
	background: #efefef url(images/bg_table_light.png) top left repeat;
     }
td.watchdog-special {
    background: #C9DCEF url(images/bg_watchdog.png) repeat;
     }
td.watchdog-user {
    background: #EFEAC9 url(images/bg_help.png) repeat;
     }
      /*</group>*/

/*<group=Forms>*/
/*<group=Fieldset>*/
.main-content fieldset legend {
	display: block;
	color: #5E663B;
	margin: 0;
	padding: 0.25em 1.0em;
	background: #fff url(images/bg_sidebar_h2.png) top left repeat-x;
	border: 1px solid #6E7E4A;
	border-top: 2px solid #6E7E4A;
	}
.main-content fieldset {
	color: #333;
	margin: 0;
	margin-bottom: 2.0em;
	padding: 1.0em;
	padding-top: 0.5em;
	background: url(images/bg_sidebar_content.png) top left repeat;
	border: 1px solid #5E663B;
	border-top: 2px solid #5E663B;
	}
/* drupal.css overrides */
.node-form .admin .authored, 
.node-form .admin .options, 
.node-form .admin .extra, 
.node-form .admin, 
.node-form .standard {
    float: left; /* all items in the div must be floated or else they will overlap */
    }
.node-form .admin .authored, .node-form .admin .options {
     margin-right: 1.0em;
     }
/* undo in IE because it chokes on floats */     
* html .node-form .admin .authored, 
* html .node-form .admin .options, 
* html .node-form .admin .extra, 
* html .node-form .admin, 
* html .node-form .standard {
    float: none; 
    position: relative;
    }
* html .node-form .admin .authored, 
* html .node-form .admin .options {
     margin-right: 0;
     }

     /*</group>*/
/*<group=Content Creation Elements>*/
.main-content form .form-text,
.main-content form textarea,
.main-content form#node-form textarea#body,
.main-content form textarea#comment {
     width: 93%;
     }       
     /*</group>*/
/*<group=Form Element Styles>*/
/*<group=Labels>*/
label:hover, .form-item label {
     color: #333; 
     cursor: pointer;
     }
label:hover {
     color: #5E663B;
     border-bottom: 1px solid #cfd7b3;
     }       
     /*</group>*/
form #title, 
.form-text,
.form-password, 
textarea {
	color: #333;
	padding: 2px 4px;
	background: #fff url(images/bg_sidebar_bottom.png) top repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #cfd7b3;
	border-top-color: #5E663B;
	border-left-color: #5E663B;
	}       
.form-radio, .form-checkbox {
	background-color: transparent;
	border: 0;	
	}
input[name="edit[pass1]"], 
input#pass,
.block-user .form-submit {
     margin-bottom: 0.25em;
     }       
select {
	background-color: #fff;
	color: inherit;
	}
     /*</group>*/
/*<group=Submit Button>*/
input[type="submit"], button, .main-content .form-submit {
     background: #ddd;
     color: #333;
     padding: 1px 4px;
     border-width: 1px;
     border-style: solid;
     border-color: #9097A2;
     border-right-color: #283043;
     border-bottom-color: #283043;
     margin: 1.0em;
     margin-left: 0;
     }
input[type="submit"]:hover, button:hover, .main-content .form-submit:hover {
     background-color: #cfd7b3;
     }
input[type="submit"]:focus, button:focus, .main-content .form-submit:focus {
	 background-color: #5E663B;
	 color: #cfd7b3;
	 border-color: #283043;
	 border-bottom-color: #9097A2;
	 border-right-color: #9097A2;
     }
       
     /*</group>*/
/*<group=Blocks>*/

/* User Login Block */
.block .user-login-block {
    text-align: left; 
    }
.block .user-login-block input#name, 
.block .user-login-block input#pass {
    width: 90%; 
    margin: 0; 
    }
.block .user-login-block .form-item,
.block .user-login-block .form-item label {
    margin: 0;
    padding: 0;
    }
     /*</group>*/

        
      /*</group>*/

/*<group=Lists>*/

ul.filter-tips-short {
 	line-height: 1.0em;
 	margin: 0;
 	padding: 0;
	}
.filter-tips-short li, .more-tips {     
     margin: 0;
     padding: 0;
	}
.item-list {
	margin: 0.5em 0;
	}
#message .item-list, .item-list h3 {
      margin-top: 0; 
	}
.item-list .icon {
	color: #aaa;
	padding-left: 0.25em;
	}
.item-list .icon img {
	border: 0;
	}
.item-list .icon a {
	color: #000;
	text-decoration: none;
	}
.item-list .icon a:hover {
	color: #000;
	text-decoration: none;
	}
.item-list .title {
	font-weight: bold;
	border: 0;
	}
.item-list ul {
	list-style: none;
	margin: 0.3em 0 0.5em 0;
	padding: 0
	}
.item-list ul.sub-list {
	list-style: none;
	margin: 0 0 0.75em 25px;
	padding: 0
	}
.item-list ul li {
	margin: 0 0 0.25em 1.0em;
	padding: 0 0 4px 15px;
	line-height: 1.3em;
	list-style: none;
	}
.sidebar .item-list ul li {
	margin: 0 0 0.25em 2px;
	list-style: none;
	}
li.leaf {
	list-style-type: none;
	}
.main-content ul {	padding: 0; 
	margin: 0; 	margin-top: 0.25em;
 	line-height: 1.4em;     }
.main-content ul li:first-line {
 	line-height: 1.0em;	}
.main-content ul li, .item-list ul li { 	background: url(images/bullet_diamond.gif) 1px 4px no-repeat; 
 	padding-left: 12px; 
 	list-style: none; 
 	line-height: 1.4em;    }
.main-content li {
	padding-bottom: 0.25em;
	}
        
      /*</group>*/

/*<group=Links>*/
       
a, .content a, :link {
	color: #5E663B;
	text-decoration: underline;
	}
:visited, .path a, .path a:visited {
	color: #6C7C48;
	}
a:hover, .content a:hover {
    color: #333;
    text-decoration: underline;
     }
:active { 
	color: #000; 
	}
	
      /*</group>*/

/*<group=Utility>*/

:before {
     color: #5E663B;
	}
div.avatar { 
	float: right;
	border: 1px solid #ddd;
	}
.hide {
     overflow: hidden;
     visibility: hidden;
     display: none;
     clear: none;  
     }
.marker {
	color: #f00;
	}
.error {
	color: #f00;
	}
.ok {
	color: #080;
	}
.pageFrame, #nodeFrame {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
     }
#pager {
	color: #5E663B;
    text-align: center;
    width: 50%; 
    border-top: 1px solid #CFD7B3;
	padding: 0.5em 0 1.0em 0;
	margin: 1.0em auto 0 auto;
	}
#pager a {
	color: #5E663B;
	}
#pager :visited {
	color: #666;
	}
.container-inline div {
	display: inline;
	}

#banner {
	position: absolute;
	left: 120px;
	top: 2px;
	margin: 0px;
	padding: 0px;
	width: 468px;
	height: 60px;
	border: none;
	}

      /*</group>*/
